@using MvcTemplate.Common.Extensions
@model ICollection<MvcTemplate.Web.ViewModels.Home.IrregularityViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_VotePartial", item.RatingsModel)
        </div>
        <div class="col-md-9">
            <h2>
                <a data-id="@item.Id" class="title" href="@Url.Action("Details", "Irregularity", new { area = string.Empty, id = item.Id })">@item.Title</a>
            </h2>
            @if (item.Description.Length > 15)
            {
                <p class="break-word">
                    @item.Description.Chop(15) ...
                    <a href="@Url.Action("Details", "Irregularity", new { area = string.Empty, id = item.Id })">more</a>
                </p>
            }
            else
            {
                <p class="break-word">
                    @item.Description
                </p>
            }
            <p>
                <span class="label label-default">
                    @item.CommentsCount comments
                </span>
            </p>
        </div>
    </div>
}